@font-face {
    font-family: 'Acherus Grotesque';
    src: url('../fonts/Horizon\ Type\ -\ AcherusGrotesque-Regular.eot');
    src: local(''), url('../fonts/Horizon\ Type\ -\ AcherusGrotesque-Regular.woff') format('woff'), url('../fonts/Horizon\ Type\ -\ AcherusGrotesque-Regular.ttf') format('truetype'), url('../fonts/Horizon\ Type\ -\ AcherusGrotesque-Regular.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'Acherus Grotesque';
  src: url('../fonts/Horizon\ Type\ -\ AcherusGrotesque-RegularItalic.eot');
  src: local(''), url('../fonts/Horizon\ Type\ -\ AcherusGrotesque-RegularItalic.woff') format('woff'), url('../fonts/Horizon\ Type\ -\ AcherusGrotesque-RegularItalic.ttf') format('truetype'), url('../fonts/Horizon\ Type\ -\ AcherusGrotesque-RegularItalic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}

*{
    font-family: 'Acherus Grotesque';
    color: #ffffff;
}

body {
  background-color: #BFBFBD;
  font-family: "Acherus Grotesque";
  color: #ffffff;
}

body, h1 {
    margin: 0;
    padding: 0;
}

h1 {
  font-weight: 250;
}

p {
    font-style: italic;
}

/* Menu Burger */
/* Le bouton stylé */


.bt {
    position: absolute;
    left: 8px;
    top: 9px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    padding: 0;
    z-index: 201;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .bg {
    background-color: #BFBFBD;
}
  
  /* Fin du bouton stylé */

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 1750px;
    padding: 50px;
    margin: -100px 0 0 -400px;
    padding-top: 125px;
    background: #ffffff;
    box-shadow: 0 0 10px #85888C;
    z-index: 200;
  }

  .menu a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #1E1E23;
    opacity:1;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
    padding: 10px 0;
    margin: 20px 25px;
    z-index: 2;
  }

  .menu a:first-child {
      margin-top: 50px;
  }

  .menu a:hover {
    opacity:0.5;
  }

/* Fin du menu Burger */
/* Le header */
.header {
    background-color: #1B1F26;
    height: 70px;
}

.header h1 {
    color: #ffffff;
    height: 40px;
}

.header span {
    color: #A69F97;
}

.head-marque {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
}

.marque {
    text-align: center;
    margin: 0 10%;
}

.logo_img {
    width: 63px;
    height: 70px;
    margin-bottom: 6px;
    background:no-repeat center center / cover url(../Le_logo/Logo\ CostardFPWT.jpg);
}

/* Slider auto */

#slidy-container {
  width: 100%;
  overflow: hidden;
  margin: 0;
}

/* Fin du slider */

.txt-slider {
  position: absolute;
  top: calc(70px + 10%);
  width: 100%;
  padding: 20px 0;
  background-color: #000000b2;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

/* pitit bloc de séparation */

.separation {
  height: 10px;
  width: 100%;
  background-color: #1B1F26;
}

/* Main */

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bg-article-a {
  height: 364px;
  width: 360px;
  background: no-repeat center center / cover url("../img/CostarClassic.jpg");
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bta {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  padding: 2px 5px;
  margin: 0 0 10% 0;
}

/* Hover du button */

.bta {
  width: 200px;
  height: 60px;
  font-size: 30px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
}
.bta div {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}
.bta:hover div {
  transform: rotateX(-90deg);
}
.bta span {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  background-color: #4A4F59;
  border: 3px solid #BFBFBD;
  line-height: 50px;
  font-size: 17pt;
  text-align: center;
}
.bg-winter-suit .bta {
  width: 220px;
}
.bta span:nth-child(1) {
  color: #fff;
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}
.bta span:nth-child(2) {
  color: #4A4F59;
  background: #fff;
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}
.bta body {
  background: #4A4F59;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  margin: 0;
}


/* Fin du hover */

.bg-article-txt {
  color: #ffffff;
  background-color: #000000b2;
  text-align: center;
  padding: 5px 2px;
  margin: 25px 10px;
  font-size: 20px;
}

.bg-article-txt h1 {
  font-size: 25px;
}

.bg-article-b {
  height: 364px;
  width: 360px;
  background: no-repeat center center / cover url("../img/SuiteOri.jpg");
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Formulaire css */

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  form div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
  }

  form div:nth-child(5) {
    flex-direction: column;
  }

  form label {
    color: #000000;
    font-size: 20px;
    margin-right: 10px;
  }

  form input {
    text-align: center;
    color: #ffffff;
    background-color: #000000b2;
    border: 1px solid #1E1E23;
  }

  form input::placeholder {
    color: #ffffff8e;
  }

  form textarea::placeholder {
    color: #ffffff8e;
  }

  textarea {
    width: 210px;
    height: 128px;
    color: #ffffff;
    background-color: #000000b2;
  }

  .bta-form {
    background-color: #4A4F59;
    font-size: 22px;
    width: 150px;
  }

/* Le footer */

.img_footer {
  background: no-repeat center center / cover url('../img/Cover_Caro_3.jpg');
  width: auto;
  height: 202px;
  display: flex;
  align-items: center;
}

.img_footer p {  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000000b2;
  width: 100%;
  padding: 20px 0;
  font-size: 20px;
}

.info {
  background-color: #1B1F26;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90px;
}

.info a {
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}

.info img {
  display: none;
}

/* STYLE PAGE COSTUME */

.bg-blue-suit {
  height: 583px;
  width: 360px;
  background: no-repeat center center / cover url("../img/Suit_Classic_1.jpg");
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bg-grey-suit {
  height: 583px;
  width: 360px;
  background: no-repeat center center / cover url("../img/Suit_Classic_2.jpg");
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bg-black-suit {
  height: 583px;
  width: 360px;
  background: no-repeat center center / cover url("../img/Suit_Classic_3.jpg");
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bg-sailor-suit {
  height: 583px;
  width: 360px;
  background: no-repeat center center / cover url("../img/Suit_Classic_4.jpg");
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bg-winter-suit {
  height: 583px;
  width: 360px;
  background: no-repeat center center / cover url("../img/Suit_Ori.jpg");
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.titre-art {
  color: #000000;
  background-color: #A69F97;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

#adresse {
  font-size: 20px;
  margin: 0;
  font-style: normal;
  text-align: center;
}

/* page mentions légales */

.mention-txt, .plan-txt {
  width: auto;
  padding: 0 30px;
}

/* page plan du site */
.plan-txt a{
  text-decoration: none;
}

.plan-txt a:hover{
  text-decoration: underline;
}

/* MEDIA QUERIES */

@media screen and (min-width: 400px) {
  .txt-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }
}

@media screen and (min-width: 600px) {
  .txt-slider {
    top: calc(70px + 20%);
  }

  .head-marque .marque {
    margin-right: 30%;
  }
}

@media screen and (min-width: 767px) {

  /* Header */

  #El-slider, #sepastop {
    display: none;
  }

  .txt-slider {
    top: calc(70px + 20%);
    height: 110px;
  }

  /* Main */

  /* margin img produits */

  .bg-blue-suit, .bg-winter-suit {
    margin-top: 20px;
  }

  .bg-blue-suit, .bg-black-suit, .bg-winter-suit {
    margin-right: 20px;
  }

  .bg-grey-suit, .bg-sailor-suit {
    margin-left: 20px;
  }

  .bg-blue-suit, .bg-grey-suit, .bg-black-suit, .bg-sailor-suit, .bg-winter-suit {
    margin-bottom: 25px;
  }

  .article_a {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .bg-article-a {
    margin-right: 10px;
  }

  .bg-article-txt {
    margin: 10px;
    margin-right: 0;
    padding: 0 15px;
    height: 364px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-self: center;
  }

  .article_b {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .article_b .bg-article-txt {
    margin: 10px;
    width: 302px;
    margin-left: 0;
  }

  .bg-article-b {
    margin-left: 10px;
  }

  #article-txt {
    margin: 10px 20px;
  }
  
  /* mentions légales média */

  .mention-txt, .plan-txt {
    height: auto;
  }

  /* Footer */

  .img_footer {
    height: 300px;
  }

  .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 200px;
  }

  .info img {
    display: flex;
    height: 180px;
    width: auto;  
  }
}

@media screen and (min-width: 1024px) {

  /* Header */

  .txt-slider {
    top: calc(70px + 27vh);
    height: 33vh;
    font-size: 25px;
  }
  
  #slidy-container {
    height: calc(100vh - 70px);
  }

  /* La navigation devient responsive pour PC ici ! */

  #menu {
    display: none;
  }

  .menu, #j_menu {
    position: unset;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    z-index: 0;
  }

  .menu a {
    text-decoration: none;
    color: #ffffff;
    opacity:1;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
    padding: 0;
    margin: 0;
    z-index: none;
  }

  .menu a:first-child {
      margin: 0;
  }

  #menu-resp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
    padding-top: 3px;
    height: 70px;
  }

  .head-marque {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    width: 40%;
  }

  .marque {
    margin: 0 20px;
  }

  .head-marque h1 {
    width: 161px;
  }

  #j_menu a{
    margin: 0 30px;
    padding: 0 5px;
    transition: 0.3s;
  }

  #j_menu .active {
    background-color: #BFBFBD;
    color: #1B1F26;
  }

  #j_menu a:hover {
    background-color: #BFBFBD;
    color: #1B1F26;
    opacity: 1;
  }

  /* main */  

  /* Nothing here :D */

  /* Le footer */

  .img_footer {
    height: 800px;
  }

  .img_footer p {
    height: 300px;
    font-size: 25px;
  }

  .titre-art {
    font-size: 40px;
}

@media screen and (min-width: 1400px) {

  /* Header */
  .header {
    height: 80px;
  }

  /* main */

  /* media page costumes */

  #article-txt {
    height: 500px;
    width: 400px; 
  }

  #article-txt h1 {
    padding-bottom: 20px;
  }

  /* Img agrandissement et margin */

  .bg-blue-suit, .bg-black-suit, .bg-winter-suit {
    margin-right: 150px;
  }

  .bg-grey-suit, .bg-sailor-suit {
    margin-left: 150px;
  }

  .bg-blue-suit, .bg-grey-suit, .bg-black-suit, .bg-sailor-suit, .bg-winter-suit {
    height: 810px;
    width: 500px;
  }

  /* Fin page costumes */

  .article_a {
    margin-bottom:20px;
  }

  .bg-article-a {
    height: 750px;
    width: 742px;
  }

  .bg-article-b {
    height: 750px;
    width: 742px;
  }

  .bg-article-txt {
    height: 750px;
    width: 70vh;
    font-size: 20px;
  }

  .bg-article-txt h1 {
    padding-bottom: 80px;
  }

  .article_a .bg-article-txt {
    margin-left: 50px;
  }

  .article_b .bg-article-txt {
    width: 70vh;
    margin-right: 50px;
  }

  .mention-txt, .plan-txt {
    font-size: 30px;
  }

  /* plan site média */

  .plan-txt {
    height: 600px;
    width: 400px;
    margin: 30px 0;
  }

}

@media screen and (min-width: 1600px) {

  /* header */

  .txt-slider {
    font-size: 35px;
  }

  /* main */

  .article_a {
    padding-top: 50px;
  }

  .article_b {
    padding-bottom: 50px;
  }

  .bg-article-a {
    height: 950px;
    width: 942px;
  }

  .bg-article-b {
    height: 950px;
    width: 942px;
  }

  .bg-article-txt {
    height: 950px;
    width: 70vh;
    font-size: 25px;
  }

  .article_b .bg-article-txt {
    width: 70vh;
    margin-right: 50px;
  }
  
  .img_footer p {
    font-size: 35px;
  }

  /* Page costumes media */

  .bg-blue-suit, .bg-grey-suit, .bg-black-suit, .bg-sailor-suit, .bg-winter-suit {
    height: 1134px;
    width: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #article-txt {
    height: 570px;
    width: 500px;
    font-size: 25px;
  }

  #article-txt h1 {
    font-size: 30px;
  }

  
  /* Fin page costumes */
  
  .mention-txt, .plan-txt {
    font-size: 35px;
  }

  .plan-txt {
    height: 600px;
    width: 450px;
    margin: 30px 0;
  }

  /* footer */

  .footer a {
    font-size: 28px;
  }
}